<div class="row">
  <div class="col-md-12">
    <div class="row">
      <!--controllers-->
      <app-controlers [searchVal]="currentSearchUrlParam"
                      (data)="onChangeControlsComponent($event)"></app-controlers>
    </div>
    <div class="row">
      <!--paginator-->
      <app-paginator [collectionSize]="collectionSize"
                     [pageSize]="pageSize"
                     [page]="currentPageUrlParam"
                     (pageChange)="onChangePagination($event)"></app-paginator>

    </div>
    <div class="row">
      <!--content-->
      <app-content [items]="foundItems"></app-content>
    </div>


  </div>
</div>

